<div class="Center site">
  <h1>SkillExchange</h1>

</div>

<p id="start">
  I want to
</p>

<section id="links-holder">
  <span class="link-to-skill" id="link-learn">
    <%= link_to 'Learn something', new_learnable_path %>
  </span>
  <span class="link-to-skill" id="link-teach">
    <%= link_to 'Teach something', new_shareable_path %>
  </span>
</section>

<% if user_signed_in? %>

  <section class="skill-section" id="learnables">
    <% if current_user.learnables.any? %>
      <p class="sub-title">My learnables</p>
      <ul class="skill-list" id="learnable-list">
        <% current_user.learnables.each do |learnable| %>
          <li class="skill-item" id="learnable-item">
            <p class="skill-name"><%= Skill.find(learnable.skill_id).name %></p>
              <% if find_matches(learnable.skill_id).length > 0 %>
                <p>_________</p>
                <% find_matches(learnable.skill_id).each do |match| %>

                  <p class="match"><%= "#{User.find(match.user_id).username} knows #{Skill.find(match.skill_id).name}" %></p>
                <%= instant_hangout %>
                <a href="https://calendly.com/phoebehugh" style="display: inline-block !important; padding: 14px 25px 15px !important; background-color: #68c19a !important; border: 2px solid #68c19a !important; border-radius: 5px !important; font-size: 20px !important; font-family: 'Proxima Nova', 'Lucida Grande', Helvetica, sans-serif !important; text-align: center !important; text-decoration: none !important; line-height: 26px !important; color: #fff !important; cursor: pointer !important;" target="_blank"> Schedule a meeting <span style="display: block !important; font-size: 12px !important; line-height: 18px !important; color: #afd9c7 !important;">with Calendly</span> </a>﻿


                  <span class="match"><%= "#{User.find(match.user_id).username} knows #{Skill.find(match.skill_id).name}" %><%= instant_hangout %>
                  </span>

              <% end %>
            <% end %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </section>
    
  <section class="skill-section" id="shareables">
    <% if current_user.shareables.any? %>
      <p class="sub-title">My shareables</p>
      <ul class="skill-list" id="shareable-list">
        <% current_user.shareables.each do |shareable| %>
          <li class="skill-item" id="shareable-item">
            <p class="skill-name"><%= Skill.find(shareable.skill_id).name %></p>
          </li>
        <% end %>
      </ul>
    <% end %>
  </section>

<% end %>

